/* ================= SECTION ================= */
.engineering-section {
  background: #f8f9fa;
  padding: 80px 0;
}

.section-text {
  color: #102865;
  font-size: 20px;
}
/* ================= DIAGONAL IMAGE SECTION ================= */
.image-diagonal {
  overflow: hidden;
}

.diagonal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Diagonal cut (LEFT slanted edge) */
  clip-path: polygon(
    8% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}