.footer-section {
    
  background-color: #1f3568;
  color: white;
  padding: 60px 0 30px;
}

.footer-title {
  color: #f5a623;
  font-size: 14px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 45%;
  margin-right: 10px;
}

.footer-form button {
  background: none;
  border: none;
  color: #f5a623;
  font-weight: 600;
}

.footer-contact-btn {
  background-color: #f5a623;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
}

.social-icons i {
  margin-right: 15px;
  font-size: 18px;
}

.footer-line {
  border-color: rgba(255,255,255,0.2);
}

.footer-bottom {
  font-size: 13px;
}